---
type Props = {
  page: number;
  numberOfPosts: number;
};

const { page, numberOfPosts } = Astro.props;

const postsPerPage = Number(import.meta.env.POSTS_PER_PAGE);
const hasPrevPage = page > 1;
const hasNextPage = numberOfPosts > page * postsPerPage;
---

<div class="flex justify-between items-center">
  {
    hasPrevPage ? (
      <a
        href={`?page=${page - 1}`}
        class="bg-teal-900 px-6 py-3 rounded-xl text-xl text-white"
      >
        Previous
      </a>
    ) : (
      <div />
    )
  }
  {
    hasNextPage ? (
      <a
        href={`?page=${page + 1}`}
        class="bg-teal-900 px-6 py-3 rounded-xl text-xl text-white"
      >
        Next
      </a>
    ) : (
      <div />
    )
  }
</div>
